@font-face {
    font-family:'Monospace 821';
    src: url('Bitstream - Monospac821 BT Roman.woff2') format('woff2');
  }

 body{
   padding-left: 1rem;
   padding-right: 1rem;
 }

 .title{
  font-family:'Monospace 821';
  font-size: 7rem;
  margin-top: 0rem;
  margin-bottom: -1rem;
 }

 .locations{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
 }

 .choicestitle{
  font-family:'Monospace 821';
  font-size: 2.8rem;
}

.choices{
  background: none;
  border: none;
  font-family:'Monospace 821';
  font-size: 2.6rem;
}

.choices:focus{
  text-decoration: underline;
}

.spots{
  border: solid 1px;
  height: 65vh;
  overflow: scroll;
  padding-left: 1rem;
  padding-right: 1rem;
}

.footer{
  font-family:'Monospace 821';
  font-size: 2rem;
  text-align: center;
  margin-top: 2.4rem;
}

.spotlist{
  display: none;
}

.spotsitems{
  font-family:'Monospace 821';
  font-size: 2.3rem;
}

.spotsitems:hover{
 text-decoration: underline;
}



@media screen and (max-width: 1360px) {
  .choices{
    font-size: 1.8rem;
  }
  .choicestitle{
    font-size: 1.8rem;
  }
  .title{
    font-size: 6rem;
  }

  .footer{
    font-size: 1.5rem;
  }

  .spots{
    height: 70vh;
  }

  .spotlist{
    margin-top: 3.5rem;
  }

  .spotsitems{
    font-size: 1.95rem;
  }

}

@media screen and (max-width: 940px) {
  .choices{
    font-size: 1.2rem;
  }
  .choicestitle{
    font-size: 1.2rem;
  }
  .title{
    font-size: 5rem;
  }
  .spots{
    height: 75vh;
  }

  .spotlist{
    margin-top: 2rem;
  }

  .spotsitems{
    font-size: 1.64rem;
  }

}

@media screen and (max-width: 755px) {
  .choices{
    font-size: 1.2rem;
    margin-left: 0rem;
    padding: 0rem;
  }
  .choicestitle{
    font-size: 1.2rem;
   
  }
  .title{
    font-size: 3rem;
    margin-bottom: -.3rem;
  }
  .spots{
    height: 78vh;
    margin-bottom: 2.3rem;
  }

  .locations{
    margin-bottom: 0rem;
  }

  .spotlist{
    margin-top: 2rem;
  }

}
@media screen and (max-width: 609px) {

  .title{
    margin-bottom: -.4rem;
  }
  .spots{
    height: 75vh;
    margin-bottom: -.5rem;
  }
  
  .locations{
    margin-bottom: 1.3rem;
  }
  

  .spotlist{
    margin-top: -.5rem;
  }

}

@media screen and (max-width: 376px) {

  .title{
    font-size: 2rem;
    margin-bottom: -.2rem;
  }

  .choices{
    font-size: 1rem;
  }

  .choicestitle{
    font-size: 1rem;
  }

  .footer{
    font-size: 1rem;
    margin-top: -.2rem;
  }

  .spots{
    height: 80vh;
    margin-bottom: 1rem;
    padding-left: .5rem;
    padding-right: .5rem;
  }

  .spotsitems{
    font-size: 1.3rem;
  }

}

