@font-face {
    font-family:'Monospace 821';
    src: url('Bitstream - Monospac821 BT Roman.woff2') format('woff2');
  }

 body{
   padding-left: 1rem;
   padding-right: 1rem;
 }

 .title{
  font-family:'Monospace 821';
  font-size: 7rem;
  margin-top: 0rem;
  margin-bottom: -1rem;
 }

 .locations{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
 }

 .choicestitle{
  font-family:'Monospace 821';
  font-size: 2.8rem;
}

.choices{
  background: none;
  border: none;
  font-family:'Monospace 821';
  font-size: 2.6rem;
}

.choices:focus{
  color: red;
}

.spots{
  border: solid 2px;
  height: 65vh;
  overflow: scroll;
  padding-left: 1rem;
  padding-right: 1rem;
}

.footer{
  font-family:'Monospace 821';
  font-size: 2rem;
  text-align: center;
  margin-top: 2.4rem;
}

.spotlist{
  display: none;
  margin-top: -1.3rem;
}

.spotsitems{
  font-family:'Monospace 821';
  font-size: 2.3rem;
}

.spotsitems:hover{
 color: red;
}

.spotinfo {
margin-top: 2.1rem;
}

.line{
border: solid 1px;
margin-top: -1rem;
margin-bottom: -1rem;
}

.popup{
  background-color: white;
  width:30%;
  height: 60vh;
  bottom: 8.4rem;
  left: 67.5%;
  position: absolute;
  display: none;
  border: solid black 2px;
}

.imgs{
  width: 86%;
  margin-top: 3rem;
  margin-left: 7%;
  justify-content: center;
}

.info{
  font-family:'Monospace 821';
  font-size: 1.3rem;
  margin-left: 2.5rem;
  margin-right: 2.3rem;
}




@media screen and (max-width: 1791px) {
  .popup{
    bottom: 6.1rem;
}
.imgs{
margin-top: 2rem;
width: 83%;
margin-left: 2.8rem;
}
.info{
  font-family:'Monospace 821';
  font-size: 1.2rem;
  margin-left: 2.8rem;
  margin-right: 2rem;
}

}

@media screen and (max-width: 1360px) {
  .choices{
    font-size: 1.8rem;
  }
  .choicestitle{
    font-size: 1.8rem;
  }
  .title{
    font-size: 6rem;
  }

  .footer{
    font-size: 1.5rem;
  }

  .spots{
    height: 70vh;
  }

  .spotlist{
    margin-top: 3.5rem;
  }

  .spotsitems{
    font-size: 1.95rem;
  }
  .popup{
    bottom: 12.8rem;
    height: 56vh;
    left: 67%;
  }
  .info{
    font-size: 1.2rem;
    margin-left: 2.2rem;
    margin-right: 2rem;
  }

  .imgs{
    margin-left: 2.2rem;
    margin-right: 2rem;
    margin-top: 2rem;
  }

}

@media screen and (max-width: 940px) {
  .choices{
    font-size: 1.2rem;
  }
  .choicestitle{
    font-size: 1.2rem;
  }
  .title{
    font-size: 5rem;
  }
  .spots{
    height: 75vh;
  }

  .spotlist{
    margin-top: 2.7rem;
  }

  .spotsitems{
    font-size: 1.64rem;
  }

  .popup{
    height: 50vh;
    left:62.3% ;
    width: 34%;
    bottom: 19.8rem;
  }

  .info{
    font-size: 1rem;
    margin-left: 1.7rem;
  }

  .imgs{
    margin-left: 1.7rem;
    margin-top: 2.1rem;
  }


}

@media screen and (max-width: 755px) {
  .choices{
    font-size: 1.2rem;
    margin-left: 0rem;
    padding: 0rem;
  }
  .choicestitle{
    font-size: 1.2rem;
   
  }
  .title{
    font-size: 3rem;
    margin-bottom: -.3rem;
  }
  .spots{
    height: 78vh;
    margin-bottom: 2.3rem;
  }

  .locations{
    margin-bottom: 0rem;
  }

  .spotlist{
    margin-top: 2.7rem;
  }

  .popup{
    height: 49vh;
    left: 55%;
    width: 40%;
    bottom: 21.9rem;
  }

  .imgs{
    margin-top: 1.6rem;
  }

}
@media screen and (max-width: 609px) {

  .title{
    margin-bottom: -.4rem;
  }
  .spots{
    height: 75vh;
    margin-bottom: -.5rem;
  }
  
  .locations{
    margin-bottom: 1.3rem;
  }
  
  .spotlist{
    margin-top: -.5rem;
  }

  .popup{
   bottom: 19.2rem;
   height: 49vh;
   left: 44%;
   width: 50%;
  }

}

@media screen and (max-width: 502px) {
.popup{
  height:46vh ;
  bottom:21.5rem ;
}

.imgs{
margin-left: 1.3rem;
margin-top: 1.6rem;
}

.info{
margin-left:1.3rem;
}
}



@media screen and (max-width: 376px) {

  .title{
    font-size: 2rem;
    margin-bottom: -.2rem;
  }

  .choices{
    font-size: 1rem;
  }

  .choicestitle{
    font-size: 1rem;
  }

  .footer{
    font-size: 1rem;
    margin-top: -.2rem;
  }

  .spots{
    height: 80vh;
    margin-bottom: 1rem;
    padding-left: .5rem;
    padding-right: .5rem;
  }

  .spotsitems{
    font-size: 1.3rem;
  }

  .popup{
    height: 54vh;
    top: 7.65rem;
    width: 70%;
    left: 24.6%;
  }

}

